*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #202732;
    font-family: sans-serif;
}
.main{
    width: 90%;
    margin: 0 auto;
}
.advice__container{
    margin: 50vh auto;
    transform: translateY(-50%);
    height: 300px;
    width: 500px;
  align-items: center;
    background-color: #313A48;
    border-radius: 20px;
    text-align: center;
}
.advice__tittle{
    color: #53FFAA;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 1px;
  
    
}
.advice__content{
    color: #CEE3E9;
    padding: 40px;
    font-size: 1.8em;
}
.advice__separator{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}
.advice__button{
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #53FFAA;
    border: none;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0px 0px 26px 2px rgba(83,255,170,1);
    cursor: pointer;

}

@media only screen and (max-width: 660px){
    .advice__container{
        margin: 50vh auto;
        transform: translateY(-50%);
        height: 200px;
        width: 300px;
      align-items: center;
        background-color: #313A48;
        border-radius: 20px;
        text-align: center;
    }
    .advice__tittle{
        color: #53FFAA;
        font-weight: bold;
        padding-top: 40px;
        padding-bottom: 1px;
      
        
    }
    .advice__content{
        color: #CEE3E9;
        padding: 20px;
        font-size: 1em;
       
    }
    .advice__separator{
        position: absolute;
        bottom: 20%;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
    }
    .advice__button{
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #53FFAA;
        border: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        box-shadow: 0px 0px 26px 2px rgba(83,255,170,1);
        cursor: pointer;
    }    
}